<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
  </head>
  <style>
    .product-image {
      width: 150px;
    }
    .bottom_bellow {
      border-bottom: 2px solid red;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  </style>
  <body>
    <%- include('components/navbar') %> <% purchases.forEach(order => { %>

    <ul>
      <% order.products.forEach(product => { %>
      <li>
        <h2><%= product.product.title %></h2>
        <p>Description: <%= product.product.description %></p>
        <p>Price: $<%= product.product.price %></p>
        <p>Quantity: <%= product.quantity %></p>

        <div>
          <% product.product.image.forEach(imageUrl => { %>

          <img
            class="product-image"
            src="/<%= imageUrl.replace(/\\/g, '/') %>"
            alt="<%= product.product.title %>"
          />
          <% }); %>
        </div>
      </li>
      <% }); %>
    </ul>
    <p>TotalPrice: $<%= order.total_price %></p>
    <p class="bottom_bellow">Time : <%= order.timestamp %></p>
    <% }); %>
  </body>
</html>
